
.logo{
  height: 20px;
  width: 20px
}
.whiteText {
  color: white;
}
#likeButton, #subscribeButton{
  transition: 800ms all;
  border-radius: 600px;
  height: 50px;
  width: 100px;
  background-color: white;

}

#selfPicture {
  /* native is 3264 x 1836 */
  border-radius: 3px;
  width: 200px;
  height: 200px;
  margin: 0 30px 5px 0;
  object-fit: cover;
  object-position: 25%;

}
#youtubeFrame{
  width: 608;
  height: 308
}
#links{
  width:25%;
}
#aboutme{
  width: 40vw;
}

#logoBox{
  padding: 0;
  height: 48px;
}
#inLogo{
  width: 22px;
}

#easterEggPikachu{
  display: none;
}
#easterEggPenguin{
  display: none;
}

#footer{
  width: 100vw;
  height: 100px;
  background-color: #333;

}
