
.logo{
  height: 20px;
  width: 20px
}
.whiteText {
  color: white;
}
#likeButton, #subscribeButton{
  transition: 800ms all;
  border-radius: 600px;
  height: 50px;
  width: 100px;
  background-color: white;

}

#selfPicture {
  /* native is 725x453 */
  border-radius: 20px;
  width: 271.875px;
  height: 169.875px;
  margin: 0 20px 5px 0;

}
#youtubeFrame{
  width: 608;
  height: 308
}
#links{
  width:25%;
}
#aboutme{
  width: 40vw;
}

#logoBox{
  padding: 0;
  height: 48px;
}
#inLogo{
  width: 22px;
}

#easterEggPikachu{
  display: none;
}
#easterEggPenguin{
  display: none;
}

#footer{
  width: 100vw;
  height: 100px;
  background-color: #333;

}
